/* GLOBAL CSS */
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}

/* PRELOADER SECTION */
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.loadscreen,
.loadscreen-in {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.loadscreen-in {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

.loadscreen-in h4 {
    color: #333;
    margin-top: 30px;
    text-transform: uppercase;
}

/* NAVBAR SECTION */
.container-fluid {
    padding: 0.5% 5%;
}

.navbar {
    padding: 0 0 1.5rem;
}

.nav-link {
    color: #d1d1d1;
    font-size: 1rem;
}

.nav-item {
    color: #d1d1d1;
    padding: 0 18px;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-section {
    padding: 1rem;
    color: white;
}

.nav-section::before {
    content: '';
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* TITLE SECTION */
.title-section {
    position: relative;
    padding: 1rem;
    min-height: 100vh;
    color: white;
    background-image: url('/static/images/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
}

/* CUSTOM SECTION */
.custom-section {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    z-index: 2;
    position: relative;
    margin-top: 0;
}

.custom-section#howtouse {
    margin-top: 2rem;
}

/* UPLOAD SECTION */
.upload-section {
    width: 100%;
}

.center-box {
    width: 80%;
    border: 2px dashed #f0f0f0;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    backdrop-filter: blur(3px);
    position: relative;
    cursor: pointer;
}

.center-box .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (max-width: 600px) {
    .center-box {
        padding: 10px;
        width: 100%;
    }
}

#fileInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-container,
.extract-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.upload-container {
    display: block;
}

.extract-container {
    display: none;
}

.extract-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.extract-container .extract-text {
    text-align: center;
}

.upload-container i,
.extract-container i {
    color: #ffffff;
    margin-bottom: 10px;
}

.upload-text {
    font-size: 1rem;
}

.extract-text {
    font-size: 1rem;
}

.uploaded-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.uploaded-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

#showImagesBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    border-radius: 5px;
}

#showImagesBtn i {
    font-size: 1.5rem;
}

#showImagesBtn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* OVERLAYS SECTION */
.transparent-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.image-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.image-overlay .uploaded-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.uploaded-images img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.close-overlay {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

.close-overlay:hover {
    background-color: #f0f0f0;
}

.image-overlay,
.show-images-btn {
    pointer-events: auto;
}

/* TITLE BAR SECTION */
.title-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.title-text {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* HOW TO USE SECTION START */
.custom-howtouse-section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    z-index: 2;
    position: relative;
}

.howtouse-section {
    width: 80%;
}

.howtouse-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
    font-weight: bold;
}

.howtouse-section ol {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.6;
}

.howtouse-section li {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.howtouse-section li strong {
    display: block;
    font-size: 1.2rem;
    color: #007bff;
    margin-bottom: 0.5rem;
}

.howtouse-section li:hover {
    background-color: #e0ebf7;
    color: #000;
}

.howtouse-section li:last-child {
    margin-bottom: 0;
}

/* ABOUT SECTION */
.about-section {
    width: 80%;
    color: white;
    background-image: url('/static/images/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
}

.about-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: white;
    margin-bottom: 1rem;
}


.personal-details-section {
    width: 80%;
    color: white;
    background-image: url('/static/images/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 1px solid #e0dff7;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: center;
}

.personal-details-section h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: bold;
}

.personal-details-section p {
    font-size: 1.2rem;
    color: #eee;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.personal-details-section a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.personal-details-section a:hover {
    text-decoration: underline;
}

.about-section h1,
.about-section p,
.personal-details-section h1,
.personal-details-section p {
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /* Black border effect */
}

@media (max-width: 600px) {
    .upload-section,
    .custom-section,
    .howtouse-section,
    .about-section,
    .personal-details-section {
        width: 95% !important; /* Ensures width is overridden */
        padding: 1rem; /* Adjust padding if necessary */
        margin: 0 auto; /* Center the section */
    }

    .upload-section,
    .custom-section,
    .howtouse-section h1,
    .about-section h1,
    .personal-details-section h1 {
        font-size: 2rem; /* Decrease font size for headings */
    }

    .upload-section,
    .custom-section,
    .howtouse-section ol,
    .about-section p,
    .personal-details-section p {
        font-size: 0.9rem; /* Further decrease font size for paragraphs in the about section */
    }
}

/*FOOTER SECTION*/
.footer-section {
    color: white;
    background: linear-gradient(to bottom, #ffffff, #cfcfcf);
    padding: 2% 15%;
    text-align: center;
    backdrop-filter: blur(8px);
    overflow: hidden;
}

.footer-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #000;
}

.social-icon {
    color: #000;
    margin: 20px 10px;
    text-align: center;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}


/* SCROLLBAR STYLES */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
